GMAIL_USER=youremail@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx

NEXT_PUBLIC_GISCUS_REPO=username/repo-name
NEXT_PUBLIC_GISCUS_REPO_ID=R_xxxxxxxx
NEXT_PUBLIC_GISCUS_CATEGORY=xxxxxxxx
NEXT_PUBLIC_GISCUS_CATEGORY_ID=DIC_xxxxxxxx

NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-10-01
SANITY_REVALIDATE_SECRET=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
